.vs/
# Ignore cache and lref files
/PRN212_FinalProject/obj/Debug/net8.0-windows/PRN212_FinalProject_MarkupCompile.i.cache
/PRN212_FinalProject/obj/Debug/net8.0-windows/PRN212_FinalProject_MarkupCompile.i.lref
/PRN212_FinalProject/obj/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

appsettings.json